# Software Engineering for Molecular Data Scientists

## *Introduction Pandas*

## Today's Objectives

#### 0. Review of *flow control* in Python

#### 1. Loading data with ``pandas``

#### 2. Cleaning and Manipulating data with ``pandas``

## 0. Review of *flow control* in Python

In our last tutorial, we discussed **_lists_**, **_dictionaries_**, and **_flow control_**.

**_Lists_** are **_ordered collections_** of data that can be used to hold multiple pieces of information while preserving thier order.  We use `[` and `]` to access elements by their indices which start with `0`.  All things that operate on **_lists_** like slices use the concept of an inclusive lower bound and an exclusive upper bound.  So, the following gets elements from the **_list_** `my_list` with index values of `0`, `1`, and `2`, but **not** `3`!

```
my_list[0:3]
```

It is equivalent to what other way of writing the same statement using **_slicing_**?  Hint, think about leaving out one of the numbers in the slice!

**_Dictionaries_** are **_named_** **_collections_** of data that can be used to hold multiple pieces of information as **_values_** that are addressed by **_keys_** resulting in a **_key_** to **_value_** data structure.  They are accessed with `[` and `]` but intialized with `{` and `}`.  E.g.

```
my_dict = { 'cake' : 'Tasty!', 'toenails' : 'Gross!' }
my_dict['cake']
```

Finally, we talked about **_flow control_** and using the concept of **_conditional execution_** to decide which code statements were executed.  Remember this figure?


<img src="https://docs.oracle.com/cd/B19306_01/appdev.102/b14261/lnpls008.gif">Flow control figure</img>

What are the **_if_** statments?

Where do **_for_** loops fit in?

What was the overarching concept of a **_function_**?

## 1. Loading data with ``pandas``

With this simple Python computation experience under our belt, we can now move to doing some more interesting analysis.

### 1.1 Python's Data Science Ecosystem

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### 1.2 Installing Pandas & friends

Because the above packages are not included in Python itself, you need to install them separately. While it is possible to install these from source (compiling the C and/or Fortran code that does the heavy lifting under the hood) it is much easier to use a package manager like ``conda``. All it takes is to run

```
$ conda install numpy scipy pandas matplotlib
```

and (so long as your conda setup is working) the packages will be downloaded and installed on your system.

### 1.3 Importing Pandas to use in a notebook

We begin by loading the Panda's package.  Packages are collections of functions that share a common utility.  We've seen `import` before.  Let's use it to import Pandas and all the richness that pandas has.

```
import pandas
```

In [6]:
import pandas

```
df = pandas.DataFrame()
```

In [ ]:
df = pandas.DataFrame()

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

```
import pandas as pd
import numpy as np
```

In [5]:
import pandas as pd
import numpy as np

Let's create an empty _data frame_ and put the result into a variable called `df`.  This is a popular choice for a _data frame_ variable name.

```
df = pd.DataFrame()
```

In [7]:
df = pd.DataFrame()


Let's create some random data as a pandas data frame.  Before we get to the dataframe, let's briefly talk about numpy's `random` function.  If we look at the [`random`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html) documentation, you can see it takes a size argument.  This should be a `list` or a `tuple` that says what the "height" and "width" of the generated data will be.  In our case, we will get 10 rows of data in three columns with the following:

```
np.random.random((10,3))
```


Notice we change the value of the `df` variable to point to a new data frame.

```
df = pd.DataFrame(data=np.random.random((10,3)), columns=['v1', 'v2', 'v3'])
```

In [8]:
df = pd.DataFrame(data=np.random.random((10,3)), columns=['v1', 'v2', 'v3'])

*Note: strings in Python can be defined either with double quotes or single quotes*

The ``head()`` and ``tail()`` methods show us the first and last rows of the data.

```
df.head()
df.tail()
```

In [9]:
df.head()

         v1        v2        v3
0  0.527354  0.853778  0.613118
1  0.326875  0.502720  0.934289
2  0.450199  0.964599  0.470033
3  0.688716  0.145346  0.347624
4  0.306533  0.522021  0.884101

In [10]:
df.tail()

         v1        v2        v3
5  0.257975  0.882625  0.208626
6  0.706208  0.732338  0.995615
7  0.304982  0.095597  0.065963
8  0.987826  0.740486  0.286329
9  0.369037  0.095214  0.820872

### 1.4 Loading Data with Pandas

Now we can use the ``read_csv`` command to read the comma-separated-value data.  This command is pretty sophisticated.  It can read data via a URL (Uniform Resource Locator, see Lecture 2).  Not only that, it can load data from a `.zip` file by on the fly decompressing it and opening the first `.csv` it finds.  You can open different `.csv` files in the `.zip` file with additional arguments.  See the [docs](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) for more information.

In [11]:
data = pd.read_csv('http://faculty.washington.edu/dacb/HCEPDB_moldata.zip')

### 1.5 Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data

In [12]:
data.head()

,id,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
0,655365,C1C=CC=C1c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,C18H9N3OSSe,394.3151,5.161953,0.867601,91.567575,-5.467601,2.022944,-3.444656,C1=CC=C(C1)c1cc2[se]c3c4occc4c4nsnc4c3c2cn1
1,1245190,C1C=CC=C1c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH2]...,C22H15NSeSi,400.4135,5.261398,0.504824,160.401549,-5.104824,1.630750,-3.474074,C1=CC=C(C1)c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH...
2,21847,C1C=c2ccc3c4c[nH]cc4c4c5[SiH2]C(=Cc5oc4c3c2=C1...,C24H17NOSi,363.4903,0.000000,0.000000,197.474780,-4.539526,1.462158,-3.077368,C1=CC=C(C1)C1=Cc2oc3c(c2[SiH2]1)c1c[nH]cc1c1cc...
3,65553,[SiH2]1C=CC2=C1C=C([SiH2]2)C1=Cc2[se]ccc2[SiH2]1,C12H12SeSi3,319.4448,6.138294,0.630274,149.887545,-5.230274,1.682250,-3.548025,C1=CC2=C([SiH2]1)C=C([SiH2]2)C1=Cc2[se]ccc2[Si...
4,720918,C1C=c2c3ccsc3c3[se]c4cc(oc4c3c2=C1)C1=CC=CC1,C20H12OSSe,379.3398,1.991366,0.242119,126.581347,-4.842119,1.809439,-3.032680,C1=CC=C(C1)c1cc2[se]c3c4sccc4c4=CCC=c4c3c2o1

In [13]:
data.tail()

,id,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str
2322844,2543603,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1cnc(...,C22H14N4S3Si2,486.7506,0.000000,0.000000,0.000000,-5.632512,1.454082,-4.178430,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1cnc(...
2322845,2304057,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C22H14N4S3Si2,486.7506,9.335485,1.120744,128.197094,-5.720744,1.798600,-3.922144,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
2322846,2007035,[SiH2]1ccc2csc(c12)-c1sc(c2[SiH2]ccc12)-c1ccc(...,C26H18S3Si2,482.7982,2.498209,0.834995,46.046052,-5.434995,2.433160,-3.001835,c1sc(c2[SiH2]ccc12)-c1sc(c2[SiH2]ccc12)-c1ccc(...
2322847,1961981,C1ccc2c1c(sc2-c1scc2cc[SiH2]c12)-c1ccc(cc1)-c1...,C25H16S3SeSi,519.6454,2.679067,0.659243,62.544032,-5.259243,2.258468,-3.000775,c1sc(c2[SiH2]ccc12)-c1sc(c2Cccc12)-c1ccc(cc1)-...
2322848,2754558,[SiH2]1ccc2csc(c12)-c1sc(-c2sc(-c3scc4ccsc34)c...,C24H13NOS5Si,519.7887,1.272400,0.102802,190.489616,-4.702802,1.490950,-3.211851,c1sc(c2[SiH2]ccc12)-c1sc(-c2sc(-c3scc4ccsc34)c...

The ``shape`` attribute shows us the number of elements:

```
data.shape
```

In [14]:
data.shape

(2322849, 11)

The ``columns`` attribute gives us the column names

```
data.columns
```

In [15]:
data.columns

Index(['id', 'SMILES_str', 'stoich_str', 'mass', 'pce', 'voc', 'jsc',
       'e_homo_alpha', 'e_gap_alpha', 'e_lumo_alpha', 'tmp_smiles_str'],
      dtype='object')

### 1.6 Indexes** or Indices** in Pandas

The ``index`` attribute gives us the index names

```
data.index
```

** Index is one of a few words with multiple acceptable plural variants

In [17]:
data.index

Index([ 655365, 1245190,   21847,   65553,  720918, 1310744,  196637,  262174,
        393249,      35,
       ...
       1703911, 1814506, 2559314, 2351086, 1712111, 2543603, 2304057, 2007035,
       1961981, 2754558],
      dtype='int64', name='id', length=2322849)

Let's make our ``id`` column the ``index``

```
data.set_index('id', inplace=True)
```

*Note:* the use of `inplace=True`.  This cases the original data frame to be modified *in place* instead of creating a new data frame and returning the result to be stored in a new variable.

In [19]:
# note inplace!
data.set_index('id', inplace=True)

KeyError: "None of ['id'] are in the columns"

Now let's revisit the ``data.index``

```
data.index
```

In [18]:
data.index

Index([ 655365, 1245190,   21847,   65553,  720918, 1310744,  196637,  262174,
        393249,      35,
       ...
       1703911, 1814506, 2559314, 2351086, 1712111, 2543603, 2304057, 2007035,
       1961981, 2754558],
      dtype='int64', name='id', length=2322849)

View it with head again:

```
data.head()
```

In [ ]:
data.head()

```
data.tail()
```

In [ ]:
data.tail()

The ``dtypes`` attribute gives the data types of each column:

```
data.dtypes
```

In [ ]:
data.dtypes

## 2. Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

```
data['mass']
```

In [20]:
data['mass']

id
655365     394.3151
1245190    400.4135
21847      363.4903
65553      319.4448
720918     379.3398
             ...
2543603    486.7506
2304057    486.7506
2007035    482.7982
1961981    519.6454
2754558    519.7887
Name: mass, Length: 2322849, dtype: float64

Mathematical operations on columns happen *element-wise* (note 18.01528 is the weight of H2O):

```
data['mass'] / 18.01528
```

In [21]:
data['mass'] / 18.01528

id
655365     21.887814
1245190    22.226327
21847      20.176778
65553      17.731881
720918     21.056559
             ...
2543603    27.018764
2304057    27.018764
2007035    26.799373
1961981    28.844703
2754558    28.852657
Name: mass, Length: 2322849, dtype: float64

Columns can be created (or overwritten) with the assignment operator.
Let's create a *mass_ratio_H2O* column with the mass ratio of each molecule to H2O:

```
data['mass_ratio_H2O'] = data['mass'] / 18.01528
```

In [22]:
data['mass_ratio_H2O'] = data['mass'] / 18.01528

Now let's view our dataframe including the new columns.

```
data.head()
```

In [23]:
data.head()

,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str,mass_ratio_H2O
id,,,,,,,,,,,
655365,C1C=CC=C1c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,C18H9N3OSSe,394.3151,5.161953,0.867601,91.567575,-5.467601,2.022944,-3.444656,C1=CC=C(C1)c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,21.887814
1245190,C1C=CC=C1c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH2]...,C22H15NSeSi,400.4135,5.261398,0.504824,160.401549,-5.104824,1.630750,-3.474074,C1=CC=C(C1)c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH...,22.226327
21847,C1C=c2ccc3c4c[nH]cc4c4c5[SiH2]C(=Cc5oc4c3c2=C1...,C24H17NOSi,363.4903,0.000000,0.000000,197.474780,-4.539526,1.462158,-3.077368,C1=CC=C(C1)C1=Cc2oc3c(c2[SiH2]1)c1c[nH]cc1c1cc...,20.176778
65553,[SiH2]1C=CC2=C1C=C([SiH2]2)C1=Cc2[se]ccc2[SiH2]1,C12H12SeSi3,319.4448,6.138294,0.630274,149.887545,-5.230274,1.682250,-3.548025,C1=CC2=C([SiH2]1)C=C([SiH2]2)C1=Cc2[se]ccc2[Si...,17.731881
720918,C1C=c2c3ccsc3c3[se]c4cc(oc4c3c2=C1)C1=CC=CC1,C20H12OSSe,379.3398,1.991366,0.242119,126.581347,-4.842119,1.809439,-3.032680,C1=CC=C(C1)c1cc2[se]c3c4sccc4c4=CCC=c4c3c2o1,21.056559

In preparation for grouping the data, let's bin the molecules by their molecular mass. For that, we'll use ``pd.cut``.  Documentation of [cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html).  Cut is used when you want to bin numeric values into discrete intervals.  This is useful for discretizing continuous data and for making histograms.

```
data['mass_group'] = pd.cut(data['mass'], 10)
```

In [24]:
data['mass_group'] = pd.cut(data['mass'], 10)

Let's see the new `mass_group` column using head again.

```
data.head()
```

In [25]:
data.head()

,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str,mass_ratio_H2O,mass_group
id,,,,,,,,,,,,
655365,C1C=CC=C1c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,C18H9N3OSSe,394.3151,5.161953,0.867601,91.567575,-5.467601,2.022944,-3.444656,C1=CC=C(C1)c1cc2[se]c3c4occc4c4nsnc4c3c2cn1,21.887814,"(375.486, 427.298]"
1245190,C1C=CC=C1c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH2]...,C22H15NSeSi,400.4135,5.261398,0.504824,160.401549,-5.104824,1.630750,-3.474074,C1=CC=C(C1)c1cc2[se]c3c(ncc4ccccc34)c2c2=C[SiH...,22.226327,"(375.486, 427.298]"
21847,C1C=c2ccc3c4c[nH]cc4c4c5[SiH2]C(=Cc5oc4c3c2=C1...,C24H17NOSi,363.4903,0.000000,0.000000,197.474780,-4.539526,1.462158,-3.077368,C1=CC=C(C1)C1=Cc2oc3c(c2[SiH2]1)c1c[nH]cc1c1cc...,20.176778,"(323.674, 375.486]"
65553,[SiH2]1C=CC2=C1C=C([SiH2]2)C1=Cc2[se]ccc2[SiH2]1,C12H12SeSi3,319.4448,6.138294,0.630274,149.887545,-5.230274,1.682250,-3.548025,C1=CC2=C([SiH2]1)C=C([SiH2]2)C1=Cc2[se]ccc2[Si...,17.731881,"(271.862, 323.674]"
720918,C1C=c2c3ccsc3c3[se]c4cc(oc4c3c2=C1)C1=CC=CC1,C20H12OSSe,379.3398,1.991366,0.242119,126.581347,-4.842119,1.809439,-3.032680,C1=CC=C(C1)c1cc2[se]c3c4sccc4c4=CCC=c4c3c2o1,21.056559,"(375.486, 427.298]"

What are the data types of the new columns we have created?

```
data.dtypes
```

In [26]:
data.dtypes

SMILES_str          object
stoich_str          object
mass               float64
pce                float64
voc                float64
jsc                float64
e_homo_alpha       float64
e_gap_alpha        float64
e_lumo_alpha       float64
tmp_smiles_str      object
mass_ratio_H2O     float64
mass_group        category
dtype: object

### 2.1 Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down the molecules by their mass group that we just created:

```
pd.value_counts(data['mass_group'])
```

In [27]:
pd.value_counts(data['mass_group'])

/tmp/ipykernel_22829/4028081873.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['mass_group'])

mass_group
(375.486, 427.298]    749908
(427.298, 479.111]    729369
(323.674, 375.486]    395811
(479.111, 530.923]    247833
(271.862, 323.674]    132159
(530.923, 582.735]     41111
(220.05, 271.862]      21253
(582.735, 634.547]      4176
(167.72, 220.05]         937
(634.547, 686.359]       292
Name: count, dtype: int64

What happens if we try this on a continuous valued variable?

```
pd.value_counts(data['mass'])
```

In [28]:
pd.value_counts(data['mass'])

/tmp/ipykernel_22829/1956101213.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['mass'])

mass
390.4646    4420
378.4536    4214
393.5405    3844
396.4928    3834
404.5674    3750
            ...
290.4402       1
227.3297       1
276.4014       1
279.2541       1
270.5866       1
Name: count, Length: 10394, dtype: int64

We can do a little data exploration with this to look 0s in columns.  Here, let's look at the power conversion effeciency (``pce``)

```
pd.value_counts(data['pce'])
```

In [29]:
pd.value_counts(data['pce'])

/tmp/ipykernel_22829/1562702781.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['pce'])

pce
0.000000    109854
1.334476         6
1.722346         4
0.628606         4
3.533531         4
             ...
3.093480         1
0.152224         1
1.646125         1
3.108040         1
1.966592         1
Name: count, Length: 2194327, dtype: int64

### 2.1.1. The Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image utilized from the Python Data Science Handbook).

![image](https://github.com/UWDIRECT/UWDIRECT.github.io/raw/master/Wi21_content/SEDS/split_apply_combine.png)

Let's break take this in smaller steps.
Recall our ``mass_group`` column.

```
pd.value_counts(data['mass_group'])
```

In [30]:
pd.value_counts(data['mass_group'])

/tmp/ipykernel_22829/4028081873.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['mass_group'])

mass_group
(375.486, 427.298]    749908
(427.298, 479.111]    729369
(323.674, 375.486]    395811
(479.111, 530.923]    247833
(271.862, 323.674]    132159
(530.923, 582.735]     41111
(220.05, 271.862]      21253
(582.735, 634.547]      4176
(167.72, 220.05]         937
(634.547, 686.359]       292
Name: count, dtype: int64

The `groupby` allows us to look at the number of values for each column and each value.

```
data.groupby(['mass_group']).count()
```

In [31]:
data.groupby(['mass_group']).count()

/tmp/ipykernel_22829/349244610.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby(['mass_group']).count()

,SMILES_str,stoich_str,mass,pce,voc,jsc,e_homo_alpha,e_gap_alpha,e_lumo_alpha,tmp_smiles_str,mass_ratio_H2O
mass_group,,,,,,,,,,,
"(167.72, 220.05]",937,937,937,937,937,937,937,937,937,844,937
"(220.05, 271.862]",21253,21253,21253,21253,21253,21253,21253,21253,21253,20080,21253
"(271.862, 323.674]",132159,132159,132159,132159,132159,132159,132159,132159,132159,124329,132159
"(323.674, 375.486]",395811,395811,395811,395811,395811,395811,395811,395811,395811,373490,395811
"(375.486, 427.298]",749908,749908,749908,749908,749908,749908,749908,749908,749908,715158,749908
"(427.298, 479.111]",729369,729369,729369,729369,729369,729369,729369,729369,729369,699620,729369
"(479.111, 530.923]",247833,247833,247833,247833,247833,247833,247833,247833,247833,236177,247833
"(530.923, 582.735]",41111,41111,41111,41111,41111,41111,41111,41111,41111,39588,41111
"(582.735, 634.547]",4176,4176,4176,4176,4176,4176,4176,4176,4176,4093,4176
"(634.547, 686.359]",292,292,292,292,292,292,292,292,292,291,292

Now, let's find the mean of each of the columns for each ``mass_group``.  *Notice* what happens to the non-numeric columns.

```
data.groupby(['mass_group']).mean()
```

In [32]:
data.groupby(['mass_group']).mean()

/tmp/ipykernel_22829/2518606101.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby(['mass_group']).mean()

TypeError: agg function failed [how->mean,dtype->object]

You can specify a groupby using the names of table columns and compute other functions, such as the ``sum``, ``count``, ``std``, and ``describe``.

Let's try describe now...

```
data.groupby(['mass_group'])['pce'].describe()
```

In [ ]:
data.groupby(['mass_group'])['pce'].describe()

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

You can even group by multiple values: for example we can look at the LUMO-HOMO gap grouped by the ``mass_group`` and ``pce``.

In [ ]:
#grouped = data.groupby(['mass_group', 'pce'])['e_gap_alpha'].mean()
#grouped

Let's take a moment to try some of the other aggregation functions such as `sum`, `count` and `mean`.

## 3. Visualizing data with ``pandas``

Of course, looking at tables of data is not very intuitive.
Fortunately Pandas has many useful plotting functions built-in, all of which make use of the ``matplotlib`` library to generate plots.

Whenever you do plotting in the Jupyter notebook, you will want to first run this *magic command* which configures the notebook to work well with plots.

Note the *magic command* is any command that starts with `%` in a Jupyter notebook.  More documentation can be found [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html).

```
import matplotlib
%matplotlib inline
```

In [ ]:
import matplotlib
%matplotlib inline

Now we can simply call the ``plot()`` method of any series or dataframe to get a reasonable view of the data:

```
data.groupby(['mass_group'])['pce'].mean().plot()
```

In [ ]:
data.groupby(['mass_group'])['pce'].mean().plot()

**_Questions_**:
* What do you think of this plot?
* What would you change if you could?

### 3.1. Other plot types

Pandas supports a range of other plotting types; you can find these by using the <TAB> autocomplete on the ``plot`` method or looking at the documentation which is [here](https://pandas.pydata.org/docs/user_guide/visualization.html).

In [ ]:
data.groupby(['mass_group'])['mass'].count().plot()

In [ ]:
data.hist('pce')

## 4. Breakout for Functions and Pandas

Write a function that takes a column in Pandas and computes the [arithmetic mean](https://en.wikipedia.org/wiki/Arithmetic_mean) value of the data in it without using Pandas **_aggregate_** functions.

Compare that result to the one from Pandas **_aggregate_** function `.mean()`.  How did your values compare?  Were they exactly equal?  Did you expect them to be given what you know about **_floating point_** numbers?